
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap CSS-->
    <link href="~/Content/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Mystyle CSS-->
    <link href="~/Content/LoginStyle.css" rel="stylesheet" />

</head>
<body class="body-background">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" >
                <div class="login-panel panel" id="login-box-shadow">
                    <div class="panel-heading">
                        <h2 class="panel-title login-panel-title"><b>Login</b></h2>
                        <hr />
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group login-padding">
                                    <input class="form-control logininput-hieght" placeholder="E-mail" name="email" type="email" autofocus="" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control logininput-hieght" placeholder="Password" name="password" type="password" value="" required>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-3 ">
                                                <div class="checkbox">
                                                    <label>
                                                        <input name="remember" type="checkbox" value="Remember Me"><b>Remember Me</b>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center login-padding">
                                            <a href="index.html" class="btn btn-primary btn-block login-margin loginbn-hieght">LOG IN</a>
                                            <a class="d-block small mt-3" href="register.html">Forgot Password?</a>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
