@{

    ViewBag.Title = "Details Category";
    Layout = null;
}
<div class="row">
    <div class="col-lg-12">
        <div class="page-header arrow-left">
            <a class="fa fa-arrow-left" onclick="GetBack()"></a>
            <h3> Details category</h3>
        </div>
    </div>
</div>
<div class="row datatable-padding">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Information category</h4>
            </div>
            <div class="panel-body row">
                <div class="col-md-12">
                    <table class="table table-striped tableB-font">
                        <tbody>
                            <tr>
                                <th>Category name</th>
                                <td>THE NUMBER ONE BESTSELLER</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>Asynchronous JavaScript and XML (AJAX) is a development technique used to create interactive web applications or rich internet applications.</td>
                            </tr>
                            <tr>
                                <th>IsActive</th>
                                <td>true </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>