@{
         
                ViewBag.Title = "Details Category";
}
<div class="row">
    <div class="col-lg-12">
        <div class="page-header arrow-left">
            <a class="fa fa-arrow-left"></a>
            <h3> Details category</h3>
        </div>
    </div>
</div>
<div class="row datatable-padding">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Information category</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3 text-right">
                        <label>Category name:</label>
                    </div>
                    <div class="col-xs-9">
                        <i>Jacob</i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 text-right">
                        <label>Description:</label>
                    </div>
                    <div class="col-xs-9">
                        <i>Asynchronous JavaScript and XML (AJAX) is a development technique used to create interactive web applications or rich internet applications. AJAX uses a number of existing technologies together, including: XHTML, CSS, JavaScript, Document Object Model, XML, XSLT, and the XMLHttpRequest object.</i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 text-right">
                        <label>IsActive:</label>
                    </div>
                    <div class="col-xs-9">
                        <i>True</i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>