@{

   
    ViewBag.Title = "Home Page";
}

    <div class="container content-backgroud">
        <div class="row" id="header">
            <div class="col-md-4">
                <div id="logo">
                    <h1><a href="#">BestSeller</a></h1>
                    <span><a href="#">free css template</a></span>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class=" navbar-right">
                            <p>Welcome, <a href="#">Guest</a> .<a href="#"><img src="~/Content/Images/cart-icon.png" alt=""></a> Shopping Cart (0) <a href="#">$0.00</a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="navbar navbar-right">
                        <ul class="nav navbar-nav menu-font">
                            <li><a href="#" class="active">Home</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Promotions</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="header">
            <div class="col-md-3" id="sidebar">
                <ul class="categories">
                    <li>
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="#">Sách ngoại văn</a></li>
                            <li><a href="#">Sách kinh tế</a></li>
                            <li><a href="#">Sách văn học trong nưới</a></li>
                            <li><a href="#">Sách văn học nước ngoài</a></li>
                            <li><a href="#">Sách thiếu nhi</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4>Authors</h4>
                        <ul>
                            <li><a href="#">Nguyễn Nhật Ánh</a></li>
                            <li><a href="#">Hồ Biểu Chánh</a></li>
                            <li><a href="#">Hồ Anh Thái</a></li>
                            <li><a href="#">Vũ Trọng Phụng</a></li>
                            <li><a href="#">Nguyễn Ngọc Tư</a></li>
                            <li><a href="#">Nguyễn Quang Sáng</a></li>
                            <li><a href="#">Chềnh Nhục Diểng</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div id="content">
                    <h3>Featured Products</h3>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
                            <div class="caption">
                                <span class="book-name">Book Name</span>
                                <span class="author">by John Smith</span>
                                <span class="description">
                                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                                </span>
                            </div>
                            <div class="size-div">
                                <div class="navbar-left left-bnt">
                                    <a href="#" class="btn buy-btn" role="button">BUY NOW</a>
                                </div>
                                <div class="navbar-left right-bnt">
                                    <a href="#" class="btn btn-primary price-bnt">$22</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
                            <div class="caption">
                                <span class="book-name">Book Name</span>
                                <span class="author">by John Smith</span>
                                <span class="description">
                                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                                </span>
                            </div>
                            <div class="size-div">
                                <div class="navbar-left left-bnt">
                                    <a href="#" class="btn buy-btn" role="button">BUY NOW</a>
                                </div>
                                <div class="navbar-left right-bnt">
                                    <a href="#" class="btn btn-primary price-bnt">$22</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
                            <div class="caption">
                                <span class="book-name">Book Name</span>
                                <span class="author">by John Smith</span>
                                <span class="description">
                                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                                </span>
                            </div>
                            <div class="size-div">
                                <div class="navbar-left left-bnt">
                                    <a href="#" class="btn buy-btn" role="button">BUY NOW</a>
                                </div>
                                <div class="navbar-left right-bnt">
                                    <a href="#" class="btn btn-primary price-bnt">$22</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
                            <div class="caption">
                                <span class="book-name">Book Name</span>
                                <span class="author">by John Smith</span>
                                <span class="description">
                                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                                </span>
                            </div>
                            <div class="size-div">
                                <div class="navbar-left left-bnt">
                                    <a href="#" class="btn buy-btn" role="button">BUY NOW</a>
                                </div>
                                <div class="navbar-left right-bnt">
                                    <a href="#" class="btn btn-primary price-bnt">$22</a>
                                </div>
                                @*<div class="navbar-left" style="width:40%; background-color:violet"><a>$22</a></div>*@

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
                            <div class="caption">
                                <span class="book-name">Book Name</span>
                                <span class="author">by John Smith</span>
                                <span class="description">
                                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                                </span>
                            </div>
                            <div class="size-div">
                                <div class="navbar-left left-bnt">
                                    <a href="#" class="btn buy-btn" role="button">BUY NOW</a>
                                </div>
                                <div class="navbar-left right-bnt">
                                    <a href="#" class="btn btn-primary price-bnt">$22</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
                            <div class="caption">
                                <span class="book-name">Book Name</span>
                                <span class="author">by John Smith</span>
                                <span class="description">
                                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                                </span>
                            </div>
                            <div class="size-div">
                                <div class="navbar-left left-bnt">
                                    <a href="#" class="btn buy-btn" role="button">BUY NOW</a>
                                </div>
                                <div class="navbar-left right-bnt">
                                    <a href="#" class="btn btn-primary price-bnt">$22</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
                            <div class="caption">
                                <span class="book-name">Book Name</span>
                                <span class="author">by John Smith</span>
                                <span class="description">
                                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                                </span>
                            </div>
                            <div class="size-div">
                                <div class="navbar-left left-bnt">
                                    <a href="#" class="btn buy-btn" role="button">BUY NOW</a>
                                </div>
                                <div class="navbar-left right-bnt">
                                    <a href="#" class="btn btn-primary price-bnt">$22</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <div class="thumbnail">
                            <img data-src="holder.js/300x200" alt="..." src="~/Content/Images/image-best01.jpg">
                            <div class="caption">
                                <span class="book-name">Book Name</span>
                                <span class="author">by John Smith</span>
                                <span class="description">
                                    Maecenas vehicula ante eu enim pharetra scelerisque dignissim sollicitudin nisi
                                </span>
                            </div>
                            <div class="size-div">
                                <div class="navbar-left left-bnt">
                                    <a href="#" class="btn buy-btn" role="button">BUY NOW</a>
                                </div>
                                <div class="navbar-left right-bnt">
                                    <a href="#" class="btn btn-primary price-bnt">$22</a>
                                </div>
                                @*<div class="navbar-left" style="width:40%; background-color:violet"><a>$22</a></div>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
