@{
    ViewBag.Title = "Details Book";
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header arrow-left">
            <a class="fa fa-arrow-left"></a>
            <h3> Details Book</h3>
        </div>
    </div>
</div>
<div class="row datatable-padding">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Information book</h4>
            </div>
            <div class="panel-body row">
                <div class="col-md-8">
                    
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
</div>