@{
    ViewBag.Title = "Details Book";
    Layout = null;
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header arrow-left">
            <a class="fa fa-arrow-left"  onclick="GetBack()"></a>
            <h3> Details Book</h3>
        </div>
    </div>
</div>
<div class="row datatable-padding">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Information book</h4>
            </div>
            <div class="panel-body row panel-body-margin" >
                <div class="col-md-4">
                    <img src="~/Content/Images/image05.jpg" class="thumbnail imgB-size" />
                </div>              
                <div class="col-md-8">
                    <table class="table table-striped tableB-font">
                        <tbody>
                            <tr>
                                <th>Title</th>
                                <td>THE NUMBER ONE BESTSELLER</td>
                            </tr>
                            <tr>
                                <th>Category Name</th>
                                <td>Hardcover</td>
                            </tr>
                            <tr>
                                <th>Author Name</th>
                                <td>Samantha Shannon </td>
                            </tr>
                            <tr>
                                <th>Publisher Name</th>
                                <td>GamingBook</td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>$100</td>
                            </tr>
                            <tr>
                                <th>Quantity</th>
                                <td>120</td>
                            </tr>
                            <tr>
                                <th>ISBN</th>
                                <td>1234567897412</td>
                            </tr>
                            <tr>
                                <th>IsActive</th>
                                <td>True</td>
                            </tr>
                            <tr>
                                <th>Create Day</th>
                                <td>25/01/2018</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <label class="col-md-2 text-right lable-font">Summary</label>
                    <div class="col-md-10">
                        <span class="span-font">
                            The House of Berethnet has ruled Inys for a thousand years. Still unwed, Queen Sabran the Ninth must conceive a daughter to protect her realm from destruction--but assassins are getting closer to her door.

                            Ead Duryan is an outsider at court. Though she has risen to the position of lady-in-waiting, she is loyal to a hidden society of mages. Ead keeps a watchful eye on Sabran, secretly protecting her with forbidden magic.

                            Across the dark sea, Tané has trained all her life to be a dragonrider, but is forced to make a choice that could see her life unravel.

                            Meanwhile, the divided East and West refuse to parley, and forces of chaos are rising from their sleep.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
