@{
    ViewBag.Title = "Update Book";
    Layout = null;
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header arrow-left">
            <a class="fa fa-arrow-left" onclick="GetBack()"></a>
            <h3> Update Book</h3>
        </div>
    </div>
</div>
<div class="row datatable-padding">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Edit book</h4>
            </div>
            <div class="panel-body panel-body-margin">
                <form method="post" role="form" id="updatingbookformid" class="form-padding">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img-padding">
                                    <img src="~/Content/Images/image05.jpg" class="thumbnail imgUp-size" id="imagePreview1" />
                                    <input type="file" name="MultipleFiles" onchange="ShowImagePreview(this, document.getElementById('imagePreview1'));" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group row">
                                    <label class="col-sm-4 lable-font text-right">Title</label>
                                    <div class="col-sm-8">
                                        <input name="" id="" type="text" class="form-control" disabled value="THE NUMBER ONE BESTSELLER">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 lable-font text-right">ISBN</label>
                                    <div class="col-sm-8">
                                        <input name="booktitle" id="booktitleid" type="text" class="form-control" disabled value="1234567890123">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 lable-font text-right">Category Name</label>
                                    <div class="col-sm-8">
                                        <select name="bookcategory" id="bookcategoryid" class="form-control">
                                            <option value="1">Văn Học</option>
                                            <option value="2">Toán Học</option>
                                            <option value="3">Tiếng Anh</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 lable-font text-right">Author Name</label>
                                    <div class="col-sm-8">
                                        <select name="bookauthor" id="bookauthorid" class="form-control">
                                            <option value="1">Nguyễn Công Hoan</option>
                                            <option value="2">Lê Thành Đạt</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 lable-font text-right">Publisher Name</label>
                                    <div class="col-sm-8">
                                        <select name="bookpublishername" id="bookpublishernameid" class="form-control">
                                            <option value="1">NXB Sự Thật</option>
                                            <option value="2">NXB Thanh Niên</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 lable-font text-right">Price</label>
                                    <div class="col-sm-8">
                                        <input name="bookprice" id="bookpriceid" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 lable-font text-right">Quantity</label>
                                    <div class="col-sm-8">
                                        <input name="bookquantity" id="bookquantityid" type="number" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 lable-font text-right">IsActive</label>
                                    <div class="col-sm-8">
                                        <select name="" id="" class="form-control">
                                            <option value="1">True</option>
                                            <option value="2">False</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 text-right lable-font">Summary</label>
                            <div class="col-sm-10">
                                <textarea name="booksummary" id="booksummaryid" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 lable-font text-right"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success bnt-magin">Update</button>
                                <button type="button" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Content/MyJsAdmin.js");
