@{
    ViewBag.Title = "Manage Books";
    
}

<div class="row">
    <div class="col-lg-12">
        <div class="page-header"><h2>Quản lý sách</h2></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <a>Create New</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 datatable-padding">
        <table width="100%" class="table table-responsive table-hover manage-datatable" id="dataTables-ManageBook">
            <thead>
                <tr>
                    <th class="manage-th1">Title</th>
                    <th class="manage-th1">price</th>
                    <th class="manage-th3 ">Image Book</th>
                    <th class="manage-th1">isActive</th>
                    <th class="manage-th2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="gradeA">
                    <td>Book1</td>
                    <td>1</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book2</td>
                    <td>2</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book3</td>
                    <td>3</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book4</td>
                    <td>4</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book5</td>
                    <td>5</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book6</td>
                    <td>6</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book7</td>
                    <td>7</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book8</td>
                    <td>8</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book9</td>
                    <td>9</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book10</td>
                    <td>10</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book11</td>
                    <td>11</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book12</td>
                    <td>12</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book22</td>
                    <td>22</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book32</td>
                    <td>32</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book42</td>
                    <td>42</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book15</td>
                    <td>15</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book16</td>
                    <td>16</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book17</td>
                    <td>17</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book18</td>
                    <td>18</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book19</td>
                    <td>19</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book32</td>
                    <td>32</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book33</td>
                    <td>11</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book1</td>
                    <td>1</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book2</td>
                    <td>2</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book3</td>
                    <td>3</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book4</td>
                    <td>4</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book5</td>
                    <td>5</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book6</td>
                    <td>6</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book7</td>
                    <td>7</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book8</td>
                    <td>8</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book9</td>
                    <td>9</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book10</td>
                    <td>10</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book11</td>
                    <td>11</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book12</td>
                    <td>12</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book22</td>
                    <td>22</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book32</td>
                    <td>32</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book42</td>
                    <td>42</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book15</td>
                    <td>15</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book16</td>
                    <td>16</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book17</td>
                    <td>17</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book18</td>
                    <td>18</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book19</td>
                    <td>19</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book32</td>
                    <td>32</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
                <tr class="gradeA">
                    <td>Book33</td>
                    <td>11</td>
                    <td></td>
                    <td>true</td>
                    <td>
                        <p><a class="small">Edit</a> | <a class="small">Details</a> | <a class="small">Delete</a></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


