@{
    ViewBag.Title = "Manage Categories";
}

<div class="container-fluid"  id="manageCategorycontrol">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Manage Categories</h1>
        </div>
        <div class="col-lg-12">
            <div class="panel-body">
                <div class="table">
                    <div class=" gradeA">
                        <a onclick="AddCategory();" >Create New</a>
                    </div>
                    <hr style="margin-top:15px;margin-bottom:5px" />
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>CateName</th>
                                <th>Description</th>
                                <th>IsActive</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Văn Học</td>
                                <td>Văn Học</td>
                                <td>
                                    <input type="checkbox" checked />
                                </td>
                                <td>
                                    <table>
                                        <tr class="gradeA">
                                            <td><a onclick="UpdateCategory('111');">Edit</a></td>
                                            <td width="15px" align="center">|</td>
                                            <td><a onclick="DetailsCategory();">Details</a></td>
                                            <td width="15px" align="center">|</td>
                                            <td><a  href="#" onclick="deleteBook('');">Delete</a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>Tiểu Thuyết</td>
                                <td>Tiểu Thuyết</td>
                                <td>
                                    <input type="checkbox" checked />
                                </td>
                                <td>
                                    <table>
                                        <tr class="gradeA">
                                            <td><a  onclick="UpdateCategory('111');">Edit</a></td>
                                            <td width="15px" align="center">|</td>
                                            <td><a onclick="DetailsCategory();">Details</a></td>
                                            <td width="15px" align="center">|</td>
                                            <td><a   href="#" onclick="deleteBook('');">Delete</a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>

</div>




