@{ 
    Layout = null;
}
<form id="changepasswordformid" role="form">
    <fieldset>
        <div class="form-group">
            <input class="form-control" placeholder="Your current password" name="oldpassword" type="password" value="">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Your new password" name="newpassword" type="password" value="">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Re Password" name="renewpassword" type="password" value="">
        </div>

        <button type="submit" href="#" class="btn btn-lg btn-success btn-block">Change</button>
    </fieldset>
</form>


