@{
        Layout = null;
    }

    <script>
         jQuery.validator.addMethod("NameRegex", function (value, element) {
            return this.optional(element) || !/^(?:[\p{L}\p{Mn}\p{Pd}\'\x{2019}]+\s[\p{L}\p{Mn}\p{Pd}\'\x{2019}]+\s?)+$/i.test(value);
        }, "Name must contain only letters or space");
        $("#resetpasswordformid").validate({
            rules: {
                username: {
                    required: true,
                    minlength: 9,
                    maxlength: 50,
                    NotAcceptedSpecialCharaters: true
                },
                email: {
                    required: true,
                    minlength: 9,
                    maxlength: 50,
                    email: true
                },
                fullname: {
                    required: true,
                    minlength: 5,
                    maxlength: 20,
                    NameRegex: true
                }
            },
            messages: {
                username: {
                    required: "Please provide a username",
                    minlength: "Username must be at least 9 characters long",
                    maxlength: "Username must be maximum 50 characters long",
                    NotAcceptedSpecialCharaters: "Please enter valid Username. No special character allowed. "
                },
                email: {
                    required: "Please provide a email as username",
                    minlength: "Username must be at least 9 characters long",
                    maxlength: "Username must be maximum 50 characters long",
                    email: "Please enter valid email as a username! "
                },
                fullname: {
                    required: "Please provide a full name",
                    minlength: "Full name must be at least 5 characters long",
                    maxlength: "Full name must be maximum 20 characters long",
                    NameRegex: "Please enter valid full name. No special character allowed. "
                }
            },
            submitHandler: function (form) {
                if (confirm("New random password will be generated and That will be sent to user by email. Are you sure?") == true) {
                  
                    alert("Form submiting...!");
                    form.submit();
                    alert("All Done!");
                }
            }
        });
    </script>


    <form id="resetpasswordformid">

        <div class="form-group row">
            <label class="col-sm-4 form-control-label ">Username</label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="" name="username" value="@ViewBag.AccountID" type="text" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label ">Full Name</label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="" name="fullname" value="Full Name Example" type="text" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label ">Email</label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="" name="email" value="emailexample@gmail.com" type="email" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 form-control-label "> </label>
            <div class="col-sm-8">
                <button type="submit" class="btn btn-success btn-block">Reset and Inform To User</button>
            </div>
        </div>
       
        
    </form>





